@import './_baseVariables.scss';

.boxShadow {
    -webkit-box-shadow: 0px 5px 42px 14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 42px 14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 42px 14px rgba(0, 0, 0, 0.75);
}

.teamTurnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    div {
        height: 30px;
        width: 30px;
        margin-left: 10px;
    }
}

.selectColorContainer {
    text-align: center;
}

.scoreBoardContainer {
    text-align: center;
    p{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.circle {
    height: 60px;
    width: 60px;
    /* background: green; */
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;

     @include mobile() {
         height: 25px;
         width: 25px;
         /* background: green; */
         border-radius: 20px;
         margin: auto;
         margin-top: 5px;
     }
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    @include mobile(){
        height: 45px;
        width: 45px;
    }
}

.blackBox {
    background-color: black;
}

.greyBox {
    background-color: grey;
}

.flexContainer {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    @include tab(){
        width: 98%;
    }
    @include mobile(){
        width: 100%;
    }
}